<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdq7Jua9-urIRT4zwK3e8NleffMl7MM2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>165515153570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.queueflow.app</string>
	<key>PROJECT_ID</key>
	<string>queueflow-b388b</string>
	<key>STORAGE_BUCKET</key>
	<string>queueflow-b388b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165515153570:ios:b4076f2efd1d54ccb307fb</string>
</dict>
</plist>